.is-horizontal-center {
    justify-content: center;
}

.button {
    margin: 0.5em 0.5em;
    padding: 1em !important;
    font-size: 1.5em !important;
}

body {
    background: linear-gradient(#6699ff 0%, #66ffcc 100%);
    min-height: 100vh;
}

.card {
    background: rgba(255, 255, 255, 0.7);
}

.button svg,
.button svg * {
    fill: #3298dc;
    height: 2em !important;
    width: 2em !important;
}

#links {
    flex-wrap: wrap;
    justify-content: space-evenly;
}